*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body{
    font-family:'Gill Sans', 'Gill Sans MT', cursive, Calibri, 'Trebuchet MS', sans-serif;
    
}

/* nav section starts */

:root{
    --btn: #fd5d5d;
}  

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 3px 2px 20px #cf4a4a;
    box-shadow: 3px 2px 20px #fd5d5d;
    background-color: transparent;
    color: black;
    height: 3rem;
    position: fixed;
    width: 100%;
    transition: 1s;
    z-index: 1000;
}

.navFixed{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 3px 2px 20px #cf4a4a;
    box-shadow: 3px 2px 20px #fd5d5d;
    background-color: #ff2f2f;
    color: white;
    height: 3rem;
    position: fixed;
    width: 100%;
    transition: all 1s;
    z-index: 1000;
}

.display{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    padding: 15px;
}

.burger {
    display: none;
  }
nav .ulNone{
    display: flex;
    list-style-type: none;
}

nav .ulNone .active{
    border-bottom: 2px solid var(--btn);
}

nav .ulNone li{
    padding: 0 10px;
    margin: 0 10px;
    padding-bottom: 8px;

}

.nav .ulNone a{
    text-decoration: none;
    color: black;
}

.navFixed .ulNone a{
    color: white;
}

nav .ulNone li:hover{
    border-bottom: 2px solid var(--btn);
}

nav .navDivNone input{
    outline: none;
    border: none;
    background: #fd5d5d;
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
    color: white;
}

nav .navDivNone input::placeholder{
    color: white;
}


nav .display .navDivNone button{
    outline: none;
    border: none;
    background: #fd5d5d;
    padding: 8px;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    box-shadow: 5px 4px 0px #ff4b4b,
                inset 4px 8px 3px #ff5858;
}

nav .navDivNone button:hover{
    box-shadow: 2px 2px 0px #ff4b4b,
                inset 1px 2px 3px #ff5858;
}

.bug{
    display: none;
  }

@media screen and (max-width:760px) {

    .nav,
    .navFixed{
        display: block;
        height: fit-content;
        padding: 10px;
    }
    .nav ul,
    .navFixed ul{
        display: block;
        padding: 8px;
    }
    .nav .ulNone li,
    .navFixed .ulNone li{
        padding: 12px;
        transition: 300ms;
    }
    .nav .ulNone li:hover,
    .navFixed .ulNone li:hover{
        background-color: #f75b5b;
        color: white;
    }
    .nav .ulNone a:hover,
    .navFixed .ulNone a:hover{
        text-decoration: underline;
        text-decoration-color: white;
        color: white;
        padding: 4px;
    }
    nav{
        display: flex;
        align-items: center;
        height: fit-content;
    }

    nav .display{
        /* display: none; */
        opacity: 0;
        position: absolute;
        transform: translateY(-150%);
        transition: 1s;
        
    }
    nav .navDivNone{
        margin-left: 20px;

    }
    nav .navDivNone input{
        margin-bottom: 10px;
        width: 65%;
    }
    nav .navDivNone a{
        margin-bottom: 10px;
    }
    nav .navDivNone a button{
        width: 65%;
    }


    .burger {
        position: relative;
        width: 40px;
        height: 28px;
        background: transparent;
        cursor: pointer;
        display: block;
        float: right;
        z-index: 5;
        /* margin-top: -25px; */
      }

      .bug{
        display: none;
        transition: 2s;
      }

       .bug:checked ~ .display{
        display: block;
        background: linear-gradient(45deg, #fec8c8 45%, transparent);
        transition: all 1s;
        transform: translateY(0);
        position: relative;
        opacity: 1;
      }
      
      .burger input {
        display: none;
      }
      
      .burger span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }
      
      .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
      }
      
      .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
      }
      
      .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
      }


      
      .bug:checked ~ .burger span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
      }
      
      .bug:checked ~  .burger span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
      }
      
      .bug:checked ~ .burger span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
      }

}

/* hero section */
.hero{
    background-image: linear-gradient(85deg, rgba(238, 230, 230, 0.25), rgba(250, 113, 113, 0.1), rgba(254, 24, 24, 0.25)), url(../imag/re-tint.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    /* position: relative; */
    height: 85vh;
    width: 100%;
    padding: 70px 20px;
    /* clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 85%, 65% 78%, 0 84%, 0% 35%, 0 0); */
}

.hero .heroWriteUp{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.hero .heroWriteUp h1{
    font-size: 50px;
}

.hero .searchSection{
    display: grid;
    place-items: center;
    margin: 0 auto;
    width: 70%;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 0;
    margin-top: 50px;
}

.hero input{
    outline: none;
    border: none;
    background: #fd5d5d;
    padding: 18px;
    border-radius: 10px;
    color: white;
    width: 80%;
}

.hero input::placeholder{
    color: white;
}

.selectArea{
    width: 100%;
}

.hero .areas{
    padding: 18px;
    border: none;
    background-color: var(--btn);
    border-radius: 10px;
    outline: none;
    color: white;
    width: 80%;
    margin: 8px;
    /* line-height: 10px; */
    border-width: 15px 15px 15px 20px;
    
}

.hero .areas::-webkit-scrollbar{
    width: 8px;
    background-color: var(--btn);

}

.hero .areas::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 15px;
}



.hero .areas > option{
    /* background-image: linear-gradient(85deg, rgba(238, 230, 230, 0.25), rgba(250, 113, 113, 0.1), rgba(254, 24, 24, 0.25)); */
    padding: 5px;
    border:  none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    text-indent: 10px;
}

.hero .areas option:hover{
    background: red;
}

.RankingHospitals{
    height: 60vh;
    margin: 2rem;
}

.containRanks{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 15px;
    margin-top: 10px;
}

.containRanks a{
    text-decoration: none;
    color: black;
}

.containRanks > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #eee;
    padding: 10px;
    text-align: center;
    gap: 8px;
    position: relative;
}

.containRanks .tooltip{
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 1.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .containRanks > div:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  /* svg:hover span,
  svg:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  } */
  
  
  .containRanks > div:hover .tooltip,
  .containRanks > div:hover .tooltip::before {
    background: linear-gradient(320deg, rgb(244, 37, 37), rgb(157, 24, 24));
    color: #ffffff;
  }

.containRanks .star-ratings{
    color: gold;
}

.speciality{
    padding: 10px 15px;
    background-color: #ff5858;
    color: white;
    border-radius: 10px;
    font-size: smaller;
}

