*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    height: 200vh;
} */

/* nav section starts */

  

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 3px 2px 20px #cf4a4a;
    box-shadow: 3px 2px 20px #fd5d5d;
    background-color: transparent;
    color: black;
    height: 3rem;
    position: fixed;
    width: 100%;
    transition: 1s;
    z-index: 1000;
}

.navFixed{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 3px 2px 20px #cf4a4a;
    box-shadow: 3px 2px 20px #fd5d5d;
    background-color: #ff2f2f;
    color: white;
    height: 3rem;
    position: fixed;
    width: 100%;
    transition: all 1s;
    z-index: 1000;
}

.burger {
    display: none;
  }
nav .ulNone{
    display: flex;
    list-style-type: none;
}

nav .ulNone li{
    padding: 0 10px;
    margin: 0 10px;
}

.nav .ulNone a{
    text-decoration: none;
    color: black;
}

.navFixed .ulNone a{
    color: white;
}

nav .ulNone a:hover{
    text-decoration: underline;
}

nav .navDivNone input{
    outline: none;
    border: none;
    background: #fd5d5d;
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
    color: white;
}

nav .navDivNone input::placeholder{
    color: white;
}


nav .navDivNone button{
    outline: none;
    border: none;
    background: #fd5d5d;
    padding: 8px;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    box-shadow: 4px 4px 0px #ff4b4b,
                inset 4px 4px 3px #ff5858;
}

nav .navDivNone button:hover{
    box-shadow: 2px 2px 0px #ff4b4b,
                inset 1px 2px 3px #ff5858;
}

.bug{
    display: none;
  }

@media screen and (max-width:560px) {

    .nav,
    .navFixed{
        display: block;
        height: auto;
        padding: 8px;
    }
    .nav ul,
    .navFixed ul{
        display: block;
        padding: 8px;
    }
    .nav .ulNone li,
    .navFixed .ulNone li{
        padding: 12px;
        transition: 300ms;
    }
    .nav .ulNone li:hover,
    .navFixed .ulNone li:hover{
        background-color: #f75b5b;
        color: white;
    }
    .nav .ulNone a:hover,
    .navFixed .ulNone a:hover{
        text-decoration: underline;
        text-decoration-color: white;
        color: white;
        padding: 4px;
    }

    nav .navDivNone input{
        margin-bottom: 10px;
        width: 150px;
    }
    nav .navDivNone a{
        margin-bottom: 10px;
    }

    .nav ul,
    .navFixed ul{
        display: none;

    }
    .nav .navDivNone,
    .navFixed .navDivNone{
        display: none;
    }

    nav{
        display: flex;
        align-items: center;
    }

    .burger {
        position: relative;
        width: 40px;
        height: 28px;
        background: transparent;
        cursor: pointer;
        display: block;
        float: right;
        /* margin-top: -25px; */
      }

      .bug{
        display: none;
      }

       .bug:checked ~ .ulNone,
       .bug:checked ~ .navDivNone{
        display: block;
      }
      
      .burger input {
        display: none;
      }
      
      .burger span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }
      
      .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
      }
      
      .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
      }
      
      .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
      }
      
      .bug:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
      }
      
      .bug:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
      }
      
      .bug:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
      }

      

    
    
    
    /* .burger{
        display: block;
    }

    .burger span{
        border: 2px sol;
    }
    nav{
        display: block;
        justify-content: space-between;
    }

    nav{
        height: auto;
    }
    nav .ulNone{
        display: block;
    }
    nav .navDivNone{
        display: none;
    }
    nav .ulNone{
        display : none;
    }


    nav .navDivNone{
        display: block;
    }

    nav .burger input:checked  ~ .ulNone{
        display: block;
    }
    nav .burger input:checked  ~ .navDivNone{
        display: block;
    }
  */} 
/* nav section ends */

.hero{
    background-image: linear-gradient(85deg, rgba(252, 27, 27, 0.25), rgba(250, 113, 113, 0.1), rgba(254, 24, 24, 0.25)), url(./imag/re-tint.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    /* position: relative; */
    height: 85vh;
    width: 100%;
}

.hero::before{
    content: " ";
    background-color: red;
    filter: blur(90px);
}